core/moderation/binding/go-llama.cpp/** linguist-detectable=false
vendor/** linguist-detectable=false
docs/** linguist-detectable=false

*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cu linguist-detectable=false
*.cuh linguist-detectable=false
*.kt linguist-detectable=false
Makefile linguist-detectable=false
CMakeLists.txt linguist-detectable=false

vendor/** linguist-generated=true
*_test.go linguist-generated=true
frontend/tests/** linguist-generated=true
**/src/test/** linguist-generated=true
**/src/androidTest/** linguist-generated=true
