[Desktop Entry]
Version=1.0
Type=Application
Name=WarpNet
Comment=Decentralized peer-to-peer social network
Exec=warpnet
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Network;Social;
StartupNotify=true
