name: Deploy Testnet Nodes

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH agent
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DO_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_rsa
          ssh-keyscan -H 207.154.221.44 >> ~/.ssh/known_hosts

      - name: Deploy to Testnet Droplet
        run: |
          scp ./deploy/deploy.sh root@207.154.221.44:/root
          scp ./deploy/docker-compose-testnet.yml root@207.154.221.44:/root/testnet/docker-compose-testnet.yml
          ssh root@207.154.221.44 'GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} MAINNET=false bash /root/deploy.sh'
